/* Header */

header {
	color: white;
	text-align: center;
	padding: 150px 0;
	font-size: 20px;
	z-index: 10;
	position: relative;
	background-color: black;
}

header div {
	width: 90%;
	margin: auto;
}

header p {
	font-weight: 200;
	letter-spacing: 0.1em;
}

/* sub sub title */

.sub-sub-title{
	position: absolute;
	top: 0;
}

.sub-sub-title p {
	opacity: 0;
	transition-duration: 250ms;
}

.sub-sub-title p:hover{
	opacity: 0.25;
}


header a {
	transition-duration: 250ms;
}

header a:hover {
	text-decoration: underline;
}

/**** */

/* Body - Blog post listings */ /* Inside main tag */

.grid {
	display: grid;
	grid-template-columns: 1fr;
	max-width: 750px;
	margin: 50px auto;
	grid-row-gap: 50px;
}

.grid h2 {
	margin-bottom: 10px;
}

img {
	max-width: 100%;
}

.dash img {
	margin-bottom: 1em;
}

.left img {
	float: left;
	margin-right: 50px;
	max-width: 350px;
}

.right img {
	float: right;
	margin-left: 50px;
	max-width: 350px;
}

.right p, .right h2 {
	text-align: right;
}

.grid .left, .grid .right, .grid .dash {
	transition-duration: 500ms;
	background-color: white;
	padding: 20px;
}

.grid .left:hover, .grid .right:hover, .grid .dash:hover {
	border-radius: 20px;
	background-color: rgba(221, 221, 240, 0.15);
	opacity: 0.65;
}


/**** */

/* post specific */

.meta {
	opacity: 0.5;
	margin-top: 1em;
}

.subtitle {
	opacity: 0.5;
	font-style: italic;
	margin-bottom: 1em;
}