/* style.css = CSS used by all pages */


/** Footer **/
footer {
	background-color: black;
	color: white;
	text-align: center;
	padding: 1em;
	font-size: 0.75em;
}

footer p {
	margin: 0;
}

footer p {
	color: #ccc;
}

footer a:hover {
	color: white;
}


/* Nav */

nav {
	background-color: black;
	color: white;
	display: inline-block;
	padding: 20px 0;
	position: fixed;
	width: 100%;
	z-index: 9;
	top: 0;	
}

nav ul {
	margin: auto;
	max-width: 850px;
}

nav a {
	text-decoration: none;
}

nav li {
	display: inline;
	transition-duration: 150ms;
}


nav #blog {
	font-weight: bold;
	margin: auto 20px;
}

nav #blog:hover {
	opacity: 0.9;
}

nav .regular-li {
	margin-left: 10px;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 600;
	opacity: 0.8;
}

nav .regular-li:hover {
	opacity: 0.6;
}